@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-green: #2D5E05;
    --secondary-green: #507F2A;
    --tertiary-green: #7C9F60;
    --quaternary-green: #CBD6C2;
    --dark-green: #102202;
    --bright-green: #088043;

    --off-white: #F9FFF5;
    --grey-background: #E6E6E6;
    --grey-text: #4D4D4D;

    --cat-easy: #088043;
    --cat-moderate: #E5A000;
    --cat-hard: #A8000B;
    --cat-expert: #102202;
}

html, body{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Tw Cen MT", cursive;
}

html main, html header {
    width: 75%;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h1::before {
    content: "";
    display: block;
    border-bottom-color: ;
}