@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-green: #2D5E05;
    --secondary-green: #507F2A;
    --tertiary-green: #7C9F60;
    --quaternary-green: #CBD6C2;
    --dark-green: #102202;
    --bright-green: #088043;

    --off-white: #F9FFF5;
    --grey-background: #E6E6E6;
    --grey-text: #4D4D4D;

    --cat-easy: #088043;
    --cat-moderate: #E5A000;
    --cat-hard: #A8000B;
    --cat-expert: #102202;
}

html, body{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Tw Cen MT", cursive;
}

html main, html header {
    width: 75%;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h1::before {
    content: "";
    display: block;
    border-bottom: solid 0.1rem black;
}

.landing-page-body{
    background: url("../media/landing-page-banner.png") center top no-repeat;
    background-size: contain;
}

.onboarding-centered-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 37.5rem;
    min-height: 24rem;
    margin: 5rem auto;
    padding: 2rem;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.onboarding-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.onboarding-small-text {
    font-size: 0.8rem;
    color: var(--grey-text);
    margin: 0.3rem 0;
}

.onboarding-input-block {
    width: 50%;
    margin-top: 4rem;
}

.onboarding-label {
    font-size: 0.85rem;
    color: #333;
    margin-bottom: 0.3rem;
    font-weight: bold;
    display: block;
}

.onboarding-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.9rem;
    box-sizing: border-box;
    display: block;
}

.onboarding-btn {
    background-color: #117c4e;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 500;
    float: right;
    margin-top: 0.3rem;
}

.onboarding-btn:hover {
    background-color: #0f6b43;
}