@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-green: #2D5E05;
    --secondary-green: #507F2A;
    --tertiary-green: #7C9F60;
    --quaternary-green: #CBD6C2;
    --dark-green: #102202;
    --bright-green: #088043;

    --off-white: #F9FFF5;
    --grey-background: #E6E6E6;
    --grey-text: #4D4D4D;

    --cat-easy: #088043;
    --cat-moderate: #E5A000;
    --cat-hard: #A8000B;
    --cat-expert: #102202;
    --course-card-background-height: 7.5rem;
}

html, body{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Tw Cen MT", cursive;
}

html main, html header {
    width: 75%;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h1::after {
    content: "";
    display: block;
    border-bottom: solid 0.2rem black;
    width: 4rem;
    padding-bottom: 1rem;
}

.landing-page-body{
    background: url("/assets/media/landing-page-banner.png") center top no-repeat;
    background-size: contain;
}

.gradient-background-body{
    position: relative;
    background: linear-gradient(45deg, #76D926, #2199DE);
}

.gradient-background-body:after {
    content: "";
    display: block;
    position: absolute;
    top: -5rem; left: 0; right: 0; bottom: 0;
    background: rgba(255, 255, 255, 0.9); /* 20% white transparency */
    z-index: -1;
}

.button{
    width: fit-content;
    height: fit-content;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.85rem;
    padding: 0.6rem 0.75rem;
    font-weight: 600;
}





.onboardingCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;
    background: white;
    margin: 0 auto;
    padding: 4rem 6rem;

    border: #e6e6e6 solid 0.0612rem;
    box-shadow: 0 0 0.25rem rgba(217, 217, 217, 0.25);
    border-radius: 1rem;
}

.onboarding-input-block {
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;

}

.onboarding-info-block{
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #4D4D4D;
}

.onboarding-label {
    margin-bottom: 0.3rem;
    font-size: 0.85rem;
    font-weight: bold;
    color: #333;
}

#occupation{
    width: 20rem;
    margin-bottom: 0.5rem;
}

.onboarding-btn{
    align-self: flex-end;
}

.profile-picture {
    border: 0.0625rem var(--dark-green) solid;
    border-radius: 50%;
    object-fit: cover;
}